.album {
    width: 100%;
    position: relative;
    .cloud {
        width: 100%;
        height: 300px;
        position: absolute;
        top: -254px;
        left: 0;
        z-index: 0;
        background: url(../img/2TOP.png) top center no-repeat;
        @media screen and (max-width: 1440px) and (max-height: 750px) {
            top: -234px;
        }
    }
    .content {
        @include flex-h;
        flex-flow: row nowrap;
        align-items: center;
        padding-bottom: 150px;
        padding-top: 130px;
        @media screen and (max-width: 930px) {
            flex-direction: column;
            padding-top: 60px;
        }
    }
    .subject {
        color: $deepG;
        text-align: center;
        width: 50%;
        @include flex-row;
        @media screen and (max-width: 1680px) {
            width: 40%;
        }
        @media screen and (max-width: 1325px) {
            width: 35%;
        }
        @media screen and (max-width: 930px) {
            width: 100%;
        }
        .left {
            width: 50%;
            margin-top: 50px;
            .line {
                width: 100%;
                height: 1px;
                background: $orange;
            }
            @media screen and (max-width: 1680px) {
                width: 40%;
            }
            @media screen and (max-width: 1430px) {
                margin-top: 44px;
            }
            @media screen and (max-width: 1325px) {
                display: none;
            }
        }
        .right {
            width: 50%;
            @media screen and (max-width: 1680px) {
                width: 60%;
            }
            @media screen and (max-width: 1325px) {
                width: 100%;
                text-align: right;
                padding-right: 15%;
            }
            @media screen and (max-width: 930px) {
                text-align: center;
                padding-right: 0;
            }
        }

        h2 {
            width: 300px;
            @media screen and (max-width: 1325px) {
                width: inherit;
            }
        }
        .sub {
            width: 300px;
            @media screen and (max-width: 1325px) {
                width: inherit;
            }
        }
        .tab {
            margin-top: 15px;
            width: 300px;
            @media screen and (max-width: 1325px) {
                width: inherit;
            }
            @media screen and (max-width: 930px) {
                width: 80%;
                margin: auto;
                margin-top: 20px;
                position: relative;
            }
        }
        ul {
            text-align: right;
            float: right;
            @include clear;
            margin-right: 31px;
            @media screen and (max-width: 1325px) {
                margin-right: 0;
            }
            @media screen and (max-width: 930px) {
                float: inherit;
            }
        }
        .bar {
            width: 50%;
            height: 3px;
            background: $orange;
            position: absolute;
            bottom: -46px;
            left: 0;
            @media screen and (min-width: 931px) {
                display: none;
            }
        }
        li {
            float: left;
            border: 1px solid $gray;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            @media screen and (max-width: 930px) {
                width: 50%;
                height: auto;
                border: 0;
                border-bottom: 1px solid $gray;
            }
            &:first-child {
                border-right: 0;
            }
            &:nth-child(2) {
                width: 1px;
                height: 45px;
                background: $orange;
                border: 0;
                @media screen and (max-width: 930px) {
                    display: none;
                }
            }
            &:nth-child(3) {
                border-left: 0;
            }

            &.active,
            &:hover {
                border-color: $orange;
                @include transition(all .3s ease);
                color: $orange;
                @media screen and (max-width: 930px) {
                    border-color:$gray;
                }
                a {
                    color: $orange;
                    @include transition(all .3s ease);
                }
            }
            &:hover {
                a {
                    transform: scale(1.03);
                    @media screen and (max-width: 930px) {
                        transform: scale(1);
                    }
                }
            }
            &.active {

                &:hover {
                    a {
                        transform: scale(1);
                    }
                }
            }

            a {
                font-size: 1.6rem;
                color: $gray;
                display: block;
                @media screen and (max-width: 930px) {
                    width: 100%;
                    height: 100%;
                }
                span {
                    &:last-child {
                        display: none;
                    }
                    @media screen and (max-width: 930px) {
                        &:first-child {
                            display: none;
                        }
                        &:last-child {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .main {
        width: 50%;
        margin-right: 80px;
        @media screen and (max-width: 1680px) {
            width: 60%;
        }
        @media screen and (max-width: 1440px) {
            margin-right: 15px;
        }
        @media screen and (max-width: 1325px) {
            width: 65%;
            margin-right: 0;
        }
        @media screen and (max-width: 930px) {
            width: 80%;
            margin: auto;
        }
        >div {
            width: 100%;
        }
    }
    .albumbox {
        color: $deepG;
        @media screen and (max-width: 930px) {
            margin-top: 20px;
        }
        ul {
            font-size: 0;
            li {
                display: inline-block;
                margin: 10px;
                height: 180px;
                width: 180px;
                overflow: hidden;
                @media screen and (max-width: 1430px) {
                    width: 160px;
                    height: 160px;
                }
                @media screen and (max-width: 930px) and (min-width: 769px) {
                    width: 23%;
                    height: 23%;
                    margin: 1.3%;
                    &:nth-child(4n+1) {
                        margin-left: 0;
                    }
                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                }
                @media screen and (max-width: 768px) {
                    width: 49%;
                    height: 49%;
                    margin: 1% ;
                    &:nth-child(odd) {
                        margin-left: 0;
                    }
                    &:nth-child(even) {
                        margin-right: 0;
                    }
                }
                a {
                    background: #fff;
                    position: relative;
                    display: block;
                    height: 100%;
                    @include pic_scale;
                    span {
                        font-size: 1.4rem;
                        z-index: 4;
                        color: white;
                        text-align: center;
                        @include pos-mid;
                        width: 90%;
                        opacity: 0;
                        font-weight: 400;
                        display: block;
                    }
                }
            }
        }
    }
    .video {
        display: none;
    }
}