header {
    width: 100%;
    position: fixed;
    z-index: 5;
    height: 110px;
    line-height: 110px;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: none;
    transition: background 500ms ease;
    @media screen and (max-width: 1440px) {
        height: 90px;
        line-height: 90px;
    }
    @media screen and (max-width: 413px) {
        height: 70px;
        line-height: 70px;
    }
    &.scrolled {
        position: fixed;
        background: rgba(255, 255, 255, 0.95);
        height: 80px;
        line-height: 80px;
        color: $deepG;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        @media screen and (max-width: 736px) {
            height: 70px;
            line-height: 70px;
        }
        a {
            color: $deepG;
            &.active {
                &:after {
                    background: $deepG;
                    bottom: 35px;
                }
            }
            &.line {
                &:after {
                    background: $deepG;
                    bottom: 35px;
                }
                &:hover:after {
                    background: $deepG;
                    bottom: 35px;
                }
            }
        }
        .logo {
            width: 175px;
            height: 36px;
            margin-left: 28px;
            margin-top: 21px;
            @media screen and (max-width: 736px) {
                margin-left: 20px;
                margin-top: 20px;
                width: 145px;
            }
        }
        .burger:before,
        .burger span,
        .burger:after {
            background: $deepG;
        }
        .burBox {
            top: 24px;
            @media screen and (max-width: 736px) {
                top: 19px;
            }
        }
    }
    a {
        color: white;
        font-size: 16px;
        margin-right: 40px;
        display: inline-block;
        text-decoration: none;
        position: relative;
        font-weight: 300;
        &:hover {
            font-weight: 400;
        }
        &.active {
            padding-bottom: 0.9rem;
            &:after {
                @include underline(null, 110%);
                margin-bottom: 0;
                right: -2px;
                @media screen and (max-width: 1440px) {
                    bottom: 42px;
                }
            }
        }
        &.line {
            padding-bottom: 0.9rem;
            &:after {
                @include underline(null, 0);
                transition: width .2s ease 0s, left .2s ease 0s;
                @media screen and (max-width: 1440px) {
                    bottom: 42px;
                }
            }
            &:hover:after {
                @include underline(0, 100%);
                @media screen and (max-width: 1440px) {
                    bottom: 42px;
                }
            }
        }
        &.fb:hover {
            opacity: .7;
            transition: opacity .2s ease;
        }
    }
}

.lang {
    a {
        margin: 0 8px;
    }
}

.menu {
    float: right;
    @include clear;
    margin-right: 40px;
    @media screen and (max-width: 1080px) {
        display: none;
    }

    li {
        display: inline-block;
        font-size: 20px;
    }
}

.burBox {
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
    @media screen and (max-width: 1080px) {
        display: block;
    }
    @media screen and (max-width: 413px) {
        right: 20px;
        top: 20px;
    }
}

.logo {
    margin-left: 30px;
    margin-top: 35px;
    width: 200px;
    height: 45px;
    display: inline-block;
    &:hover {
        opacity: .7;
        transition: opacity .2s ease;
    }
    @media screen and (max-width: 1440px) {
        margin-top: 22px;
    }
    @media screen and (max-width: 736px) {
        width: 170px;
        margin-top: 26px;
        margin-left: 20px;
    }
    @media screen and (max-width: 413px) {
        margin-top: 17px;
    }
    @media screen and (max-width: 374px) {
        width: 150px;
        margin-top: 19px;
    }
}

.fb_pos {
    @include cir(40px);
    border: 1px solid white;
    display: block;
    line-height: 40px;
    margin: auto;
    padding-left: 2px;
    background: transparent;
}