.history {
    background-image: linear-gradient(to bottom, #0277c4, #6bc9f4 70%, #94d3f0);
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 100px;

    &:after {
        content: "";
        display: block;
        background: #0277c4;
        position: absolute;
        top: -131px;
        left: 0;
        width: 100%;
        height: 260px;
        @include transform(skewY(8deg) translate3d(0, 0, 0));
        z-index: -1;
    }
    .main {
        padding-top: 30px;
        position: relative;
        width: 100%;
        overflow-x: hidden;
    }
}

.timeline {
    width: 600px;
    margin: 100px auto 0;
    @media screen and (max-width: 736px) {
        margin-top: 40px;
        width: 100%;
    }
}

section {
    position: relative;
    height: 210px;
    text-align: left;
    width: 100%;
    &:before {
        content: "";
        position: absolute;
        top: 15px;
        left: 50%;
        width: 1px;
        height: 86%;
        background-color: white;
        margin-left: -1px;
        @media screen and (max-width: 736px) {
            height:50px;
            top: -25px;
        }
    }
    &:last-child {
        &:before {
            display: none;
            @media screen and (max-width: 736px) {
                display: block;
            }
        }
    }

    &:nth-child(2n-1) {
        .event {
            left: -76px;
        }
        p {
            text-align: right;
        }
        .pic {
            right: 74px;
        }
    }
    &:nth-child(2n) {
        .event {

            right: -74px;
        }
        p {
            text-align: left;
        }
        .pic {
            left: 73px;
        }
    }
    &:nth-child(17),
    &:nth-child(19) {
        .pic {
            top: -19px;
        }
    }
    @media screen and (max-width: 736px) {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0 10%;
        &:first-child {
            &:before {
                height: 25px;
                top: 0;
            }
        }
        .event,
        .pic {
            position: initial;
            width: 100%;

            height: auto;
        }
        .event {
            margin: 35px 0 15px;
            p {
                text-align: center;
            }
        }
    }
}

.event {
    width: 350px;
    position: absolute;
    top: -25px;
    p {
        &:first-child {
            font-size: 3.4rem;
        }
        &:last-child {
            font-size: 1.6rem;
        }
        span {
            display: block;
        }
    }
}

.pic {
    width: 200px;
    height: 140px;
    overflow: hidden;
    position: absolute;
    top: -40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 2px;
    &:hover {
        transform: scale(1.02);
        transition: all 0.2s ease;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
    }
    a {
        // @include pic_scale;
        width: 100%;
        height: 100%;
        display: block;
        img {
            width: 120%;
            &.p1 {
                width: 185%;
            }
            &.p9 {
                margin-left: -25px;
            }
            &.p10 {
                margin-top: -180px;
                margin-left: -17px;
            }
            &.p17 {
                margin-left: -39px;
            }
        }
    }
}

.cir {
    @include absl(0, 50%, null, null);
    @include cir(12px);
    @include transform(translate(-50%, -50%));
    display: inline-block;
    border: 1px solid white;
    opacity: 1;
    z-index: 2;
    background: $orange;
}

// story
.story {
    width: 100%;
    margin-top: -120px;
    position: relative;
    min-height: 600px;
    padding-top: 185px;
    background: url(../img/c8.png) no-repeat;
    background-size: cover;
    background-position: center top;
    @media screen and (max-width: 1079px) {
        padding-top: 155px;
    }
    @media screen and (max-width: 768px) {
        // padding-top: 100px;
    }
    @media screen and (max-width: 736px) {
        margin-right: -100px;
    }
    .cloud {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: url(../img/c8.png) no-repeat;
        background-size: cover;
    }
    .content {
        width: 60%;
        margin: auto;
        position: relative;
        padding-bottom: 30px;
        @media screen and (max-width: 1280px) {
            width: 70%;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .item {
        color: $deep_gray;
        text-align: center;

        p {
            line-height: 2;
            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
                text-align: left;
                text-align: justify;
                text-justify: inter-ideographic;
            }
        }
        ul {
            @media screen and (max-width: 768px) {
                padding-left: 25px;
            }
        }
        li {
            font-size: 1.6rem;
            color: $deep_gray;
            line-height: 2;
            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
                text-align: left;
                list-style-type: disc;
            }
        }
    }
    .slider {
        width: 200px;
        height: 3px;
        margin: 40px auto 0;
        position: relative;
        li {
            width: 25px;
            height: 1px;
            background: $gray;
            display: inline-block;
            cursor: pointer;
        }
        .active {
            height: 3px;
            background: $orange;
        }
    }
}

.txtbox {
    .years {
        display: inline-block;
        width: 260px;
        vertical-align: top;
        text-align: left;
    }
}


h3 {
    color: $orange;
    margin-bottom: 30px;
    font-size: 4rem;
    @media screen and (max-width: 768px) {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
}

h4 {
    font-size: 2.5rem;
    margin: 10px 0;
    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 736px) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: 374px) {
        font-size: 1.6rem;
    }
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.story_arrowbox {
    width: 120%;
    position: absolute;
    left: -10%;
    @include clear;
    top: 160px;
    @media screen and (max-width: 768px) {
        width: 100%;
        left: 0;
    }
    a {
        color: $gray;
        font-size: 2rem;
        @include cir(35px);
        border: 1px solid $gray;
        line-height: 35px;
        display: inline-block;
        background: transparent;
        &:hover {
            border: 1px solid $orange;
            background: $orange;
            color: white;
            transition: all .5s cubic-bezier(.25, .8, .25, 1);
        }
        @media screen and (max-width: 768px) {
            width: 60px;
            height: 60px;
            line-height: 60px;
            background: rgba(0, 0, 0, 0.38);
            color: white;
            border: 0;
            &:hover {
                border: 0;
                background: $orange;
                transition: all .5s cubic-bezier(.25, .8, .25, 1);
            }
        }
    }
    .left {
        transform: scale(-1);
        float: left;
        padding-left: 4px;
        @media screen and (max-width: 768px) {
            margin-left: -30px;
            padding-right: 25px;
        }
    }
    .right {
        float: right;
        padding-left: 2px;
        @media screen and (max-width: 768px) {
            margin-right: -30px;
            padding-right: 25px;
        }
    }
}

.slidebox {

    @media screen and (max-width: 768px) {
        width: 80%;
        margin: auto;
    }
    @media screen and (max-width: 768px) {
        width: 70%;
    }
}



.indicator {
    height: 4px;
    background: $orange;
    width: 25px;
    position: absolute;
    left: 0;
    top: -3px;
    @media screen and (max-width: 736px) and (min-width: 414px) {
        top: 0;
    }
}