@font-face {
  font-family: 'icosprite';
  src:
    url('../fonts/icosprite.ttf?xr0b5c') format('truetype'),
    url('../fonts/icosprite.woff?xr0b5c') format('woff'),
    url('../fonts/icosprite.svg?xr0b5c#icosprite') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icosprite' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Q:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e904";
}
.icon-video:before {
  content: "\e903";
}
