@import "mixin";
@import "color";
.lightbox {
    @extend %all-100;
    background: rgba(black, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    .main {
        @include pos-mid;
        width: 800px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        @media screen and (max-width: 736px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .gallery {
        position: relative;
    }
    .picBox {
        overflow: hidden;
        height: 520px;
        @media screen and (max-width: 736px) {
            height: auto;
        }
    }
    p {
        margin: 15px;
        @media screen and (max-width: 736px) {
            margin: 15px 25px;
        }
        @media screen and (max-width: 374px) {
            margin: 15px 20px;
        }
    }
    .slider {
        margin: 10px 0;
        @media screen and (max-width: 736px) {
            display: none;
        }
    }
    ul {
        display: flex;
    }
    li {
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        height: 68px;
        width: 108px;
        overflow: hidden;
        &:last-child {
            margin-right: 0;
        }
        a {
            height: 68px;
            width: 108px;
            display: inline-block;
            &:before {
                @include absl(0, 0, 0, 0);
                content: "";
                background: rgba(black, 0.8);
                z-index: 2;
            }
            &:hover {
                &:before {
                    background: transparent;
                    transition: all .3s ease;
                }
            }
            &.active {
                &:before {
                    background: transparent;
                }
            }
        }
    }
}

.close {
    display: block;
    @include absl(4%, null, null, 1.5%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    span {
        display: block;
        height: 1px;
        position: relative;
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        width: 40px;
        &:before,
        &:after {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        &:before {
            background: none repeat scroll 0 0 white;
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
        &:after {
            background: none repeat scroll 0 0 $orange;
            opacity: 0;
            transform: translate3d(100%, 0px, 0px);
        }
        &:first-child {
            transform: translate3d(0px, 10px, 0px) rotate3d(0, 0, 1, -45deg);
            &:before,
            &:after {
                transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            }
        }
        &:last-child {
            transform: translate3d(0px, 8px, 0px) rotate3d(0, 0, 1, 45deg);
            &:before,
            &:after {
                transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;
            }
        }
    }
    &:hover {
        span {
            &:before {
                opacity: 0;
                transform: translate3d(-100%, 0px, 0px);
            }
            &:after {
                opacity: 1;
                transform: translate3d(0px, 0px, 0px);
            }
        }
    }
}


.lightbox_arrow {
    width: 120%;
    position: absolute;
    left: -10%;
    @include clear;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 1024px) {
        width: 110%;
        left: -4%;
    }

    @media screen and (max-width: 949px) {
        width: 96%;
        left: 2%;
    }

    a {
        color: white;
        font-size: 3.5rem;
        display: inline-block;
        opacity: 0.3;
        cursor: pointer;
        @media screen and (max-width: 949px) {
            opacity: 0.7;
        }
        &:hover {
            opacity: 1;
            transition: all .5s cubic-bezier(.25, .8, .25, 1);
        }
    }

    .left {
        transform: scale(-1);
        float: left;
        padding-left: 4px;
    }

    .right {
        float: right;
        padding-left: 2px;
    }
}