extends ./include/layout
block content
	.index
		.main
			h1
				.ani_pos
					.tt1
						img(src="asset/svg/tt1.svg", alt="")
					.tt2
						img(src="asset/svg/tt2.svg", alt="")
					.tt3
						img(src="asset/svg/tt3.svg", alt="")
					.tt4
						img(src="img/tt4.png", alt="")
					.tt5
						img(src="asset/svg/tt5.svg", alt="")
				img(src="img/tt_base.png", alt="那些年，我們一起搭的747-400" class="base")
			p.sub
				span 也許你曾在 747-400 上，看著窗外的異國風景，或是曾抬頭仰望，
				span 意外發現她的蹤跡，因為你的參與，才能讓 747-400 創造出這麼多美好回憶。
			p.sub.m_sub
				span 也許你曾經抬頭仰望，或隨之翱翔天際
				span 跟著747-400的蹤跡，發現美好風景
				span 因為有你，一同創造藍天中的美好回憶
			.scroll
				p scroll
				.line
		.top-slider
			.cell
				.inner
					.slider-img
	.album
		.cloud
		.content
			.subject
				.left
					.line
				.right
					h2 影像紀實
					.sub 重溫大小事蹟，再現空中女王風采
					.tab
						ul
							li.active
								a
									span.icon-camera
									span 照片
							li.line
							li
								a(href="#")
									span.icon-video
									span 影片
							.bar
			.main
				.albumbox
					ul
						li
							a(href="#")
								span.
									1992-11-02<br>西雅圖波音公司<br>747-400 交機儀式
								img(src="img/album/01_01_s.jpg", alt="19921102_西雅圖波音公司747-400交機儀式暨晚宴")
						li
							a(href="#")
								span.
									1992-11-02<br>第一、二架 747-400<br>交機儀式
								img(src="img/album/02_01_s.jpg", alt="19921102_長榮航空第一架及第二架747-400交機儀式")
						li
							a(href="#")
								span.
									1992-11-24<br>第一、二架 747-400<br>抵臺歡迎儀式
								img(src="img/album/03_01_s.jpg", alt="19921124_長榮航空第一、二架747-400抵臺歡迎儀式")
						li
							a(href="#")
								span.
									1992-11-24<br>第一、二架747-400<br>新機抵台歡迎儀式
								img(src="img/album/04_01_s.jpg", alt="19921124_長榮航空第一、二架747-400新機抵台歡迎儀式")
						li
							a(href="#")
								span.
									1993-05-18<br>第三架747-400<br>新機抵台接機儀式
								img(src="img/album/05_01_s.jpg", alt="19930518_長榮航空第三架747-400新機抵台接機儀式")
						li
							a(href="#")
								span.
									1993-09-23<br>慶祝第五架747-400<br>新機抵台接機儀式
								img(src="img/album/06_01_s.jpg", alt="19930923_慶祝長榮航空第五架747-400新機抵台接機儀式")
						li
							a(href="#")
								span.
									2008-03-14<br>747-400 機艙改艙
								img(src="img/album/07_01_s.jpg", alt="20080314_長榮航空747-400機艙改艙")
						li
							a(href="#")
								span.
									長榮航空 747-400<br>第一代機身塗裝
								img(src="img/album/08_01_s.jpg", alt="長榮航空747-400 第一代機身塗裝")
						li
							a(href="#")
								span.
									長榮航空 747-400 <br>第二代機身塗裝
								img(src="img/album/09_01_s.jpg", alt="長榮航空747-400 第二代機身塗裝")
						li
							a(href="#")
								span.
									長榮航空 747-400<br>機上服務
								img(src="img/album/10_01_s.jpg", alt="長榮航空747-400機上服務")
						li
							a(href="#")
								span.
									長榮航空 747-400<br>機上餐點
								img(src="img/album/11_01_s.jpg", alt="長榮航空747-400機上餐點")
						li
							a(href="#")
								span.
									長榮航空 747-400<br>機內環境
								img(src="img/album/12_01_s.jpg", alt="長榮航空747-400機內環境")
				.video
					<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/bHv0pEzy7pM？rel=0&amp;controls=0&amp;showinfo=0？ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
		.c1
			img(src="img/c1.png", alt="")
	.history
		.main
			h2 747-400 大事紀
			.sub 飛過 27 個年頭，寫下精采翱翔傳記
			.timeline
				section
					.event
						p 1990.07.12
						p 首度展示 B747-400 飛機模型
							span 並發表企業識別系統
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_01.jpg", alt="" class="p1")
				section
					.event
						p 1992.11.02
						p 第一、二架 B747-400 新機
							span 於西雅圖波音公司舉行交機儀式
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_02.jpg", alt="")
				section
					.event
						p 1992.11.24
						p 第一、二架 B747-400
							span 新機抵台歡迎儀式
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_03.jpg", alt="")
				section
					.event
						p 1992.12.12
						p 開闢越太平洋台北 - 洛杉磯航線
					.cir
					.c2-2
						img(src="img/c2.png", alt="")
				section
					.event
						p 1993.05.18
						p 第三架 B747-400 新機抵台歡迎儀式
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_04.jpg", alt="")
					.plane1
						img(src="img/plane2.png", alt="")
				section
					.event
						p 1993.09.16
						p 首架 B747-400 客貨兩用機
							span 於西雅圖波音公司舉行交機儀式
						.c5
							img(src="img/c5.png", alt="")
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_05.jpg", alt="")
				section
					.event
						p 1993.09.23
						p 第五架 B747-400 新機抵台歡迎儀式
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_06.jpg", alt="")
				section
					.event
						p 1999.07
						p 從澳洲載運無尾熊「派翠克」和
							span 「哈雷」搭乘長榮航空波音
							span 747-400 Combi 客貨機抵達台灣
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_07.jpg", alt="")
				section
					.event
						p 2000.07.15
						p 首架 B747-400 貨機於
							span 中正國際機場第二航廈公開亮相
						.c5-2
							img(src="img/c5.png", alt="")
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_08.jpg", alt="")
				section
					.event
						p 2001.11.20
						p B747-400 新塗裝亮相
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_09.jpg", alt="" class="p9")
				section
					.event
						p 2004.10
						p 載運無尾熊「Pearl」和「Joey」來台
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_10.jpg", alt="" class="p10")
					.c3
						img(src="img/c3.png", alt="")
				section
					.event
						p 2005.02.18
						p 與波音公司 B747-400
							span 超大型貨機(LCF)改裝工程簽約儀式
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_11.jpg", alt="")
				section
					.event
						p 2007.04.22
						p 首架 B747-400 完成客機改貨機
							span 改裝作業，並於 5 月開始營運
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_12.jpg", alt="")
					.c2-3
						img(src="img/c2.png", alt="")
					.plane2
						img(src="img/plane1.png", alt="")
				section
					.event
						p 2007.06.15
						p 第一架 B747 全客機
							span 更新客艙內裝完工
							span 配備桂冠艙、菁英艙及經濟艙
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_13.jpg", alt="")
				section
					.event
						p 2007.10.04
						p B747-400 頭等艙吧台換新裝
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_14.jpg", alt="")
				section
					.event
						p 2008.03.14
						p B747-400 客機艙換新裝
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_15.jpg", alt="")
					.c1-2
						img(src="img/c1.png", alt="")
				section
					.event
						p 2008.12.22
						p 以 B747-400 客貨兩用機擔綱
							span 貓熊包機任務自四川載運
							span 大熊貓「團團圓圓」來台
							span 掀起台北市立動物園的參觀熱潮
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_16.jpg", alt="")
				section
					.event
						p 2013.09.13 
						p B747-400 Combi
							span 客貨兩用機(編號 B-16403)除役
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_17.jpg", alt="" class="p17")
				section
					.event
						p 2015.01.05 
						p 最後一架波音 747-400 客貨機
							span (編號 B-16409) 執行完最後一趟
							span BR868 香港－桃園飛行後正式功成身退
							span 也宣告 747-400 客貨機正式走入歷史
					.cir
					.pic
						a(href="#")
							img(src="img/event/event_18.jpg", alt="")
				section
					.event
						p 2017.08.24
						p BR892 從香港國際機場
							span 返回桃園國際機場
							span 完成最後載客飛行任務
					.cir
			.story
				.content
					h3 歷史回顧
					.story_arrowbox
						a.left(href="#")
							span.icon-arrow
						a.right(href="#")
							span.icon-arrow
					.slidebox
						.item(style="display:none")
							h4 長榮航空引進，勝任飛航主力
							p.
								長榮航空於 1989 年由長榮集團總裁張榮發成立，同年 10 月 6 日向美國波音公司及麥道道格拉斯簽訂購買 26 架飛機合約，總金額達 36 億美元。共計引進 7 架 747-400 全客機、10 架 747-400 Combi (客貨機)、3 架 747-400 貨機。早年該機型不論是飛機設計、性能或客艙舒適度均無其他機型能出其右，為長榮航空草創時期長程航線的主力機隊。
						.item(style="display:none")
							h4 客機正式開航，引領艙等風範
							p.
								1991年正式開航，1992年11月2日第一、二架747-400客機於西雅圖波音公司交機，內裝共計規劃有頭等艙、商務艙、經濟豪華艙、經濟艙四種艙等，是飛機內設置介於商務艙與經濟艙之間第四艙等(經濟豪華艙)的先驅。這項創新的做法引領許多航空公司紛紛跟進，創辦人張榮發特地前往美國接機，新機於同年11月24日飛抵台灣。
						.item(style="display:none")
							h4 飛越太平洋，全球網絡新佈局
							p.
								1992年12月12日以第一、二架747-400客機開闢台北-洛杉磯航線，開始經營越太平洋航線，奠定長榮航空全球飛航網路佈局的基礎，成就長榮航空發展為由台北直飛北美航班最密集的航空公司。直至今年底，長榮航空每週將有88個航班由台北直飛北美8個主要門戶城市，密集的班次除了便利台灣民眾往返北美，也吸引北美或東南亞旅客來台轉機。2003年1月29日長榮航空兩岸首架春節包機，航段為台北-澳門(技術降落)-上海，就是由B747-400客機執飛，拉開兩岸通航的序曲。
						.item(style="display:none")
							h4 完成無數任務，747-400 光榮退役
							p.
								747-400 Combi其特有的主貨艙配置，可載運特殊貨物(如大型機台、展品以及活生動物等)，受到貨主的歡迎，並使客機機隊調度更有彈性。但因科技日新月異，各類電子產品輕薄短小，貨艙需求量小，且長榮航空新一代的長程航線主力客機777-300ER，腹艙載貨量大，逐漸取代747-400 Combi，因此747-400 Combi於 2015年1月5日正式退役。2017年8月21日747-400客機完成香港-台北載客任務後，也將全數退役，747-400貨機也規劃於2019年全數除役。
						.item(style="display:none")
							h4 長榮航空引進，勝任飛航主力
							p.
								長榮航空於 1989 年由長榮集團總裁張榮發成立，同年 10 月 6 日向美國波音公司及麥道道格拉斯簽訂購買 26 架飛機合約，總金額達 36 億美元。共計引進 7 架 747-400 全客機、10 架 747-400 Combi (客貨機)、3 架 747-400 貨機。早年該機型不論是飛機設計、性能或客艙舒適度均無其他機型能出其右，為長榮航空草創時期長程航線的主力機隊。
						.item(style="display:none")
							h4 747-400擔綱過的重要任務
							h5 元首專機（客貨兩用）
							.years
								ul
									li 1995.04 擔任李登輝總統出訪中東專機
									li  2000.08 擔任陳水扁總統「民主外交 友誼之旅」專機
									li 2001.05 擔任陳水扁總統「合作共榮 睦誼之旅」專機
									li 2009.06 擔任馬英九總統「久誼之旅」專機
						.item(style="display:none")
							h4 747-400擔綱過的重要任務
							h5 保育動物專機（客貨兩用）
							.years
								ul
									li 1999 擔任「無尾熊專機」無尾熊哈雷(Harley)及派翠克(Patrick)來台專機
									li 2008 擔任載運大陸國寶大貓熊團團、圓圓來台專機
									li 2011擔任北海道保育動物丹頂鶴「BIG」及「貴華」來台專機
						.item
							h4 747-400擔綱過的重要任務
							.txtbox
								h5 首航班任務(客機)
								.years
									ul
										li 1992.12.12 台北-洛杉磯
										li 1993.06.08 台北-西雅圖-紐約
										li 1995.12.13 台北-洛杉磯-巴拿馬
										li 1998.06.11 高雄-洛杉磯
								.years
									ul
										li 1999.06.22 台北-溫哥華
										li 2003.01.29 台北-澳門-上海
										li 2008.12.15 台北-杭州

					.slider
						ul
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
							li
								a(href="#")
							.indicator
			.c2
				img(src="img/c2.png", alt="")
			.c3-2
				img(src="img/c3.png", alt="")
			.c3-3
				img(src="img/c3.png", alt="")
	.QA
		.main
			h2 QA 小教室
			.sub 解開疑惑，挖掘更多小秘密
			.content
				ul
					li
						a.qabox
							.question
								| 請問 EVA 總計營運過幾架(買/租) 747-400 客機？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								EVA 共營運過 7 架 747-400 全客機 (B-16401、B-16402、B-16403、B-16405、B-16410、B-16411 及 B-16412 )，其中 B-16403 及 B-16405 於 1994 年 9 月及 10 月分別飛美國改裝為 COMBI (客貨兩用機)；B-16401 及 B-16402 於 2004 年 4 月售與 GECAS 後租回營運，並分別於 2007 年交由以色改裝廠 IAI 改裝為貨機。B-16402 於 2016 年 11 月租期屆滿退租，B-16401 則預計於 2017 年 7 月退租。		
					li
						a.qabox
							.question
								| 請問 EVA 的 747-400 客機飛過哪些航點，其中，在哪些航線擔任首航任務？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.col-2 飛過的航點 /
								.list
									span LAX,SEA,EWR, SFO,YVR
									span VIE,LGW,LHR,CDG
									span BKK, SIN, PEN, SGN,MNL,KUL,JKT,DPS
									span CTS,HKD,HND
									span KHH,HKG,MFM
									span PVG,PEK,HGH,CAN,SXZ
							.answer.col-2 首航任務 /
								.list
									span 1992.12.12 TPE-LAX
									span 1993.06.08 TPE-SEA-EWR
									span 1995.12.13 TPE-LAX-PTY
									span 1998.06.11 KHH-LAX
									span 1999.06.22 TPE-YVR
									span 2008.12.15 TPE-HGH
					li
						a.qabox
							.question
								| 請問 EVA 的 747-400 客機最遠的航線是哪一條，航程多遠？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								最遠航線 TPE (台北)-LAX(洛杉磯)-PTY(巴拿馬)-LAX(洛杉磯)-TPE(台北)。<br>直飛最遠航段 LAX-TPE，航程約 6，500 海里。
					li
						a.qabox
							.question
								| 請問 EVA 的 747-400 客機機隊服役期間多久？累計載客多少人？累計航程多遠？ 約可繞地球幾週？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								自 1992 年接收首架 747-400 客機迄今，EVA 之 747-400 客機機隊已服役長達 25 年。(累計載客人數及航程實無法統計)
					li
						a.qabox
							.question
								| 請問 EVA 採用 747-400 客機的考量為何？第一架 747 何時導入機隊？何時正式投入服務？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								自美國西北航空於 1989 年 2 月開始營運第 1 架 747-400 全客機,747-400 客機 一直獨佔寬體客機市場之鰲頭,該機型不論是飛機設計、性能或客艙舒適度均 無其他機型能出其右。本公司於 1992 年 11 月導入第一架 747-400 全客機,並 於 1992 年 12 月 12 日正式投入營運,首航台北-洛杉磯航線。
					li
						a.qabox
							.question
								| 請問原本的 747-400 客機配備哪些艙等？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								超級頭等艙(SUPER FIRST CLASS)<br>超級商務艙(SUPER DELUXE CLASS)<br>菁英艙(ECONOMY DELUXE CLASS)<br>經濟艙(ECONOMY CLASS)<br>
					li
						a.qabox
							.question
								| 改艙前後的載客量各多少？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								原 4 艙等配置 368 座位，改成 3 艙等後載客量為 372 座。
					li
						a.qabox
							.question
								| 改艙之後升級哪些服務？有哪些創新作法？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								將客艙硬體設備提升至 777 機隊的標準，增加超級商務艙後躺角度，乘客於長途飛行時更加舒適，且增加個人隱私性。改善娛樂系統，全機各艙等均為個人隨選影音設備。增加廚房設備，提供乘客更佳的餐飲。更新廁所設備，提供更 寬敞的空間供乘客使用。
					li
						a.qabox
							.question
								| EVA 會如何處理退役後的 747-400 客機？
								.plus_btn
									.btn_box 
										.plus-minus-toggle.collapsed
							.answer.
								747-400 客機退役後將會進行拆解零件出售，發揮物盡其用之最大剩餘價值。
		footer
			img(src="img/footer.png", alt="")
			p Copyright © EVA Airways. All rights reserved.
	.scrolling_cloud
		img(src="img/c9.png", alt="")
	.dot
		ul
			li
				a.active(href="#")
			li
				a(href="#")
			li
				a(href="#")
			li
				a(href="#")

		

