doctype html
html
		head
				include head
				// own style
				block own_style
						link(rel = 'stylesheet', href = '')
		body
				block trans
						include trans
						// header
				header
						a.logo(href="index.html") 
								img(src="asset/svg/logo_w.svg", alt="logo")
						// bur
						include bur
						// PC menu 
						nav.menu
							ul
								li
									a.line(href="#") 影像紀實
								li
									a.line(href="#") 747 - 400 大事紀
								li
									a.line(href="#") 歷史回顧
								li
									a.line(href="#") QA 小教室
								li
									a.fb(href="#") 
										span.icon-fb
								li.lang
									ul
										li
											a.active(href="#") 繁中 
										li /
										li
											a.line(href="#") English 
										li /
										li
											a.line(href="#") 日本語
				// M Menu
				include menubox
				// lightbox
				.lightbox(style="display:none")
					a.close
							span
							span
					// album
					.main
						p 1992-11-02 西雅圖波音公司 747-400 交機儀式暨晚宴
						.gallery 
							.lightbox_arrow
								a.left
									span.icon-arrow
								a.right
									span.icon-arrow
							.picBox
								img(src="img/album/07/07_02.jpg", alt="")
						.slider
							ul
								li
									a.active(href="#")
										img(src="img/album/01/01_01.jpg", alt="")
								li
									a(href="#")
										img(src="img/album/01/01_02.jpg", alt="")
								li
									a(href="#")
										img(src="img/album/01/01_03.jpg", alt="")
								li
									a(href="#")
										img(src="img/album/01/01_04.jpg", alt="")
								li
									a(href="#")
										img(src="img/album/01/01_05.jpg", alt="")
								li
									a(href="#")
										img(src="img/album/01/01_06.jpg", alt="")
								li
									a(href="#")
										img(src="img/album/01/01_07.jpg", alt="")
					// timeline
					.main(style="display:none")
						img(src="img/album/07_02.jpg", alt="")
				// content
				.wrap
					block content
								
						


