.menubox.overlay#overlay
  nav.overlay-menu
    ul
      li
        a.line(href="#") 影像紀實
      li
        a.line(href="#") 747 - 400 大事紀
      li
        a.line(href="#") 歷史回顧
      li
        a.line(href="#") QA 小教室
      
      li.lang
        ul
          li
            a.active(href="#") 繁中 
          li /
          li
            a.line(href="#") English 
          li /
          li
            a.line(href="#") 日本語
      li
        a.fb_pos(href="#")
          span.icon-fb
script(src='js/vendor/menubox.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js')
